.MainChatPage {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1308px;
  height: 800px;
}

.MainChatPage__AllChats {
  width: 430px;
  height: 800px;
  box-shadow: 9px 13px 23px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-right: 28px;
  padding: 1rem;
  box-sizing: border-box;
  & label{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 2rem;
  }
}

.MainChatPage__MainChat {
  width: 850px;
  height: 800px;
  box-shadow: 9px 13px 23px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
}
