.MainDraggablePage {
  background-color: blue;
  width: 100vw;
  box-sizing: border-box;
  position: absolute;
  transform: translate(-0%, -100%);
  top: 100%;
  height: 390px;
  border-radius: 16px 16px 0px 0px;
  overflow: hidden;
}
.MainDraggablePage__Overflow {
  width: 100%;
  box-sizing: border-box;
  height: 690px;
}

.MainDraggablePage__Draggable {
  background-color: aquamarine;
  border-radius: 16px 16px 0px 0px;
  padding: 1rem;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  top: 100%;
  width: 100%;
  height: 390px;
}
.MainDraggablePage__Draggable2{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.MainDraggablePage__DragStick{
  padding: 1px 27px;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  font-size: 1px;
}

.pa-2{
  padding: 1rem 1rem 0.5rem 2rem ;
}